applicationName: CWDS CALS API
version: ${APP_VERSION:-local}

server:
  applicationConnectors:
  - type: http
    port: 8080
  - type: https
    port: 8443
    keyStorePath: ${KEY_STORE_FILE:-./config/testKeyStore.jks}
    keyStorePassword: ${KEY_STORE_PASSWORD:-testPass}
    keyStoreType: JKS
    supportedProtocols: [TLSv1, TLSv1.1, TLSv1.2]
  adminConnectors:
  - type: http
    port: 9081

  requestLog:
    appenders:
      - type: console
shiro:
  iniConfigs: ["file:${SHIRO_CONFIG_PATH:-config/shiro.ini}"]

swagger:
  templateName: swagger.mustache
  assetsPath: /static
  resourcePackage: gov.ca.cwds.cals.web.rest
  title: CWDS CALC API
  description: RESTful API definitions for the CWS New System.
  logo: images/CWDS-API-Logo-Horizontal.png
  loginUrl: ${LOGIN_URL:-https://tpt2-es.dev.cwds.io/perry/authn/login}
  #loginUrl: ${LOGIN_URL:-http://localhost:8080/authn/login/v2}
  logoutUrl: ${LOGOUT_URL:-https://tpt2-es.dev.cwds.io/perry/authn/logout}
  showSwagger: ${SHOW_SWAGGER:-true}
#  jsonUrl: https://cals-api.dev.cwds.io/swagger.json
  jsonUrl: ${SWAGGER_JSON_URL:-http://localhost:8080/swagger.json}
#  callbackUrl: https://cals-api.dev.cwds.io/swagger
  callbackUrl: ${SWAGGER_CALLBACK_URL:-http://localhost:8080/swagger}

upgardeDbOnStart: ${UPGRADE_DB_ON_START:-true}

lisDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_LIS_USER:-postgres_data}
  password: ${DB_LIS_PASSWORD:-postgres_data}
  url: ${DB_LIS_JDBC_URL:-jdbc:postgresql://192.168.99.100:5432/postgres_data}
  validationQuery: "select count(*) from ${DB_LIS_SCHEMA:-lis}.lis_fac_file"
  logValidationErrors: true
  initialSize: ${DB_LIS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_LIS_CP_MIN_SIZE:-2}
  maxSize: ${DB_LIS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQL9Dialect
      hibernate.id.new_generator_mappings: false
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_LIS_SCHEMA:-lis}

fasDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_FAS_USER:-postgres_data}
  password: ${DB_FAS_PASSWORD:-postgres_data}
  url: ${DB_FAS_JDBC_URL:-jdbc:postgresql://192.168.99.100:5432/postgres_data}
  validationQuery: "select count(*) from ${DB_FAS_DEFAULT_SCHEMA:-fas}.facility_information"
  logValidationErrors: true
  initialSize: ${DB_FAS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_FAS_CP_MIN_SIZE:-2}
  maxSize: ${DB_FAS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQL9Dialect
      hibernate.id.new_generator_mappings: false
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_FAS_DEFAULT_SCHEMA:-fas}

#fasDataSourceFactory:
#  driverClass: org.postgresql.Driver
#  user: ${DB_FAS_USER:-dcorbett}
#  password: ${DB_FAS_PASSWORD:-broomfield2017}
#  url: ${DB_FAS_JDBC_URL:-jdbc:postgresql://10.211.5.29:5432/FAS_ChildRes}
#  validationQuery: "/* MyService Health Check */ SELECT 1"
#  logValidationErrors: true
#  initialSize: ${DB_FAS_CP_INITIAL_SIZE:-2}
#  minSize: ${DB_FAS_CP_MIN_SIZE:-2}
#  maxSize: ${DB_FAS_CP_MAX_SIZE:-8}
#  minIdleTime: 1 minute
#  properties:
#      hibernate.dialect: org.hibernate.dialect.PostgreSQL9Dialect
#      hibernate.id.new_generator_mappings: false
#      hibernate.show_sql: false
#      hibernate.default_schema: ${DB_FAS_DEFAULT_SCHEMA:-public}

calsnsDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_NS_USER:-postgres_data}
  password: ${DB_NS_PASSWORD:-postgres_data}
  url: ${DB_NS_JDBC_URL:-jdbc:postgresql://192.168.99.100:5432/postgres_data}
  validationQuery: "select count(*) from ${DB_NS_DEFAULT_SCHEMA:-calsns}.rfa_1a"
  logValidationErrors: true
  initialSize: ${DB_NS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_NS_CP_MIN_SIZE:-2}
  maxSize: ${DB_NS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: gov.ca.cwds.cals.persistence.hibernate.dialect.JsonbSupportPostgreSQL9Dialect
      hibernate.id.new_generator_mappings: false
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_NS_DEFAULT_SCHEMA:-calsns}
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
      hibernate.cache.use_query_cache: true
      hibernate.connection.autocommit: false

xaCalsnsDataSourceFactory:
  driverClass: org.postgresql.Driver
  user: ${DB_NS_USER:-postgres_data}
  password: ${DB_NS_PASSWORD:-postgres_data}
  xaDataSourceClassName: org.postgresql.xa.PGXADataSource
  url: ${DB_NS_JDBC_URL:-jdbc:postgresql://192.168.99.100:5432/postgres_data}
  validationQuery: "select count(*) from ${DB_NS_DEFAULT_SCHEMA:-calsns}.rfa_1a"
  logValidationErrors: true
  initialSize: ${DB_NS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_NS_CP_MIN_SIZE:-2}
  maxSize: ${DB_NS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: gov.ca.cwds.cals.persistence.hibernate.dialect.JsonbSupportPostgreSQL9Dialect
      hibernate.id.new_generator_mappings: false
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_NS_DEFAULT_SCHEMA:-calsns}
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
      hibernate.cache.use_query_cache: false
      hibernate.connection.autocommit: false

      hibernate.current_session_context_class: jta
      hibernate.transaction.jta.platform: com.atomikos.icatch.jta.hibernate4.AtomikosPlatform
      hibernate.transaction.factory_class: org.hibernate.resource.transaction.backend.jta.internal.JtaTransactionCoordinatorBuilderImpl
      connection.release_mode: auto
  xaProperties:
      url: ${DB_NS_JDBC_URL:-jdbc:postgresql://192.168.99.100:5432/postgres_data}


cmsDataSourceFactory:
  autoCommitByDefault: false
  driverClass: com.ibm.db2.jcc.DB2Driver
  user: ${DB_CMS_USER:-db2inst1}
  password: ${DB_CMS_PASSWORD:-db2inst1-pwd}
  url: ${DB_CMS_JDBC_URL:-jdbc:db2://192.168.99.100:50000/DB0TDEV}
  validationQuery: "select count(*) from ${DB_CMS_SCHEMA:-CWSCMS}.PLC_HM_T"
  logValidationErrors: true
  initialSize: ${DB_CMS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_CMS_CP_MIN_SIZE:-2}
  maxSize: ${DB_CMS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.DB2Dialect
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_CMS_SCHEMA:-CWSCMS}
      hibernate.connection.autocommit: false

xaCmsDataSourceFactory:
  autoCommitByDefault: false
  driverClass: com.ibm.db2.jcc.DB2Driver
  user: ${DB_CMS_USER:-db2inst1}
  password: ${DB_CMS_PASSWORD:-db2inst1-pwd}
  xaDataSourceClassName: com.ibm.db2.jcc.DB2XADataSource
  url: ${DB_CMS_JDBC_URL:-jdbc:db2://192.168.99.100:50000/DB0TDEV}
  validationQuery: "select count(*) from ${DB_CMS_SCHEMA:-CWSCMS}.PLC_HM_T"
  logValidationErrors: true
  initialSize: ${DB_CMS_CP_INITIAL_SIZE:-2}
  minSize: ${DB_CMS_CP_MIN_SIZE:-2}
  maxSize: ${DB_CMS_CP_MAX_SIZE:-8}
  minIdleTime: 1 minute
  properties:
      hibernate.dialect: org.hibernate.dialect.DB2Dialect
      hibernate.show_sql: false
      hibernate.default_schema: ${DB_CMS_SCHEMA:-CWSCMS}
      hibernate.connection.autocommit: false

      hibernate.current_session_context_class: jta
      hibernate.transaction.jta.platform: com.atomikos.icatch.jta.hibernate4.AtomikosPlatform
      hibernate.transaction.factory_class: org.hibernate.resource.transaction.backend.jta.internal.JtaTransactionCoordinatorBuilderImpl
      connection.release_mode: auto
  xaProperties:
      # Properties for DB2XADataSource
      serverName: ${DB_CMS_DB2_HOST:-192.168.99.100}
      portNumber: ${DB_CMS_DB2_PORT:-50000}
      databaseName: ${DB_CMS_DB2_NAME:-DB0TDEV}
#      serverName: ${DB_CMS_DB2_HOST:-db2.dev.cwds.io}
#      portNumber: ${DB_CMS_DB2_PORT:-51000}
#      databaseName: ${DB_CMS_DB_NAME:-DB0TDEV}
      driverType: 4 # Type4 connection for DB2 DataSource

webSecurity:
  httpResponseSecurityHeaders:
    # Prevent MIMI sniffing
    X-Content-Type-Options: nosniff

    # Prevent click-jacking
    X-Frame-Options: deny

    # Prevent cross site scripting
    X-XSS-Protection: 1; mode=block

    # Prevent everything other than same origin
    Content-Security-Policy: default-src 'self' 'unsafe-inline';

logging:
  level: ${LOGLEVEL:-INFO}
  loggers:
    "org.hibernate.SQL":
      level: INFO
    "org.hibernate.type.descriptor.sql":
      level: INFO
    "AUDIT":
      level: ALL
    "gov.ca.cwds":
      level: DEBUG
  appenders:
    - type: console
      threshold: INFO
      timeZone: UTC
      target: stdout
      logFormat: '[%X{remoteAddress}] [%date{ISO8601}] [%level] [%thread] [%X{uniqueId}] [%logger:] [%message]%n'